<div class="lists">
  <div class="d-flex p-2 pe-0 pb-0">
    <img
      class="listprofile me-2"
      src="../../../assets/profiles/noprofile.png"
    />
    <div class="d-flex w-100 justify-content-between border-bottom pe-2">
      <div>
        <h6 class="m-0">Somename</h6>
        <p>Some messages to read</p>
      </div>
      <p class="">17:50</p>
    </div>
  </div>
  <div class="d-flex p-2 pe-0 pb-0 active-chat">
    <img
      class="listprofile me-2"
      src="../../../assets/profiles/noprofile.png"
    />
    <div class="d-flex w-100 justify-content-between border-bottom pe-2">
      <div>
        <h6 class="m-0">Amma</h6>
        <p>Come home early</p>
      </div>
      <p class="">17:50</p>
    </div>
  </div>
  <div class="d-flex p-2 pe-0 pb-0">
    <img
      class="listprofile me-2"
      src="../../../assets/profiles/noprofile.png"
    />
    <div class="d-flex w-100 justify-content-between border-bottom pe-2">
      <div>
        <h6 class="m-0">Somename</h6>
        <p>Some messages to read</p>
      </div>
      <p class="">17:50</p>
    </div>
  </div>
  <div class="d-flex p-2 pe-0 pb-0">
    <img
      class="listprofile me-2"
      src="../../../assets/profiles/noprofile.png"
    />
    <div class="d-flex w-100 justify-content-between border-bottom pe-2">
      <div>
        <h6 class="m-0">Somename</h6>
        <p>Some messages to read</p>
      </div>
      <p class="">17:50</p>
    </div>
  </div>
</div>
