<div class="con">
  <div class="header d-flex align-items-center py-1 px-2">
    <img class="profile" src="../../assets/profiles/noprofile.png" />
    <div class="d-flex justify-content-between w-100 align-items-center px-3">
      <div>
        <h6>{{ groupName }}</h6>
        <p>tap here for group info</p>
      </div>
      <div>
        <i class="fas fa-search me-3"></i>
        <i class="fas fa-paperclip me-3"></i>
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
  <app-chat-area-window [userDetails]="userDetails"></app-chat-area-window>
  <app-chat-area-input [groupName]="groupName"></app-chat-area-input>
</div>
